name: Build

on:
  workflow_call:
    inputs:
      name:
        type: string
        required: true
      image:
        type: string
        required: true
      target:
        type: string
        required: false
        default: test
      reference:
        type: string
        required: false
      publish:
        type: boolean
        required: false
        default: true
    secrets:
      dockerhub-username:
        required: true
      dockerhub-token:
        required: true

jobs:
  build:
    name: ${{ inputs.name }}
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.reference }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.dockerhub-username }}
          password: ${{ secrets.dockerhub-token }}

      - name: Build image
        uses: docker/build-push-action@v6
        with:
          push: ${{ inputs.publish }}
          context: .
          target: ${{ inputs.target }}
          tags: ${{ inputs.image }}
          cache-from: type=registry,ref=gmmcal/${{ github.event.repository.name }}:${{ inputs.target }}cache
          cache-to: type=registry,ref=gmmcal/${{ github.event.repository.name }}:${{ inputs.target }}cache,mode=max
