name: Deploy preview environment

on:
  workflow_call:
    inputs:
      name:
        type: string
        required: true
      environment:
        type: string
        required: true
      url:
        type: string
        required: true
      ruby-version:
        type: string
        required: false
        default: "3.4"
    secrets:
      dockerhub-username:
        required: true
      dockerhub-token:
        required: true
      ssh-private-key:
        required: true
      rails-master-key:
        required: true
      database-host:
        required: true
      postgres-user:
        required: true
      postgres-password:
        required: true
      postgres-db:
        required: true

jobs:
  deploy:
    name: ${{ inputs.name }}
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.environment }}
      url: https://pr${{ github.event.number }}.gustavocunha.dev
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.dockerhub-username }}
          password: ${{ secrets.dockerhub-token }}

      - uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.ssh-private-key }}
          log-public-key: false

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ inputs.ruby-version }}
          bundler-cache: true

      - uses: jdx/mise-action@v3
        with:
          mise_toml: |
            [tools]
            ytt = "latest"

      - name: Template file
        run: |
          ytt -f config/deploy.template.yml --data-value host=pr${{ github.event.number }}.gustavocunha.dev --data-value database=gmmcal_pr${{ github.event.number }} > config/deploy.pr${{ github.event.number }}.yml
          cp .kamal/secrets .kamal/secrets.pr${{ github.event.number }}

      - name: Deploy command
        run: bundle exec kamal deploy -d pr${{ github.event.number }}
        env:
          KAMAL_REGISTRY_PASSWORD: ${{ secrets.dockerhub-token }}
          RAILS_MASTER_KEY: ${{ secrets.rails-master-key }}
          DATABASE_HOST: ${{ secrets.database-host }}
          DATABASE_USERNAME: ${{ secrets.postgres-user }}
          DATABASE_PASSWORD: ${{ secrets.postgres-password }}
          # db setup
          POSTGRES_DB: ${{ secrets.postgres-db }}
          POSTGRES_USER: ${{ secrets.postgres-user }}
          POSTGRES_PASSWORD: ${{ secrets.postgres-password }}
